<app-header>
  <ion-buttons slot="start">
    <ion-button>
      <a href="/">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </a>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content class="ion-padding">
  <form #createPostForm="ngForm" (submit)="onSubmit(createPostForm)">
    <ion-list>
      <!-- Location input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Location:</ion-label>
        <ion-item>
          <ion-checkbox slot="start" (ionChange)="onClick($event)"></ion-checkbox>
          <ion-label>Use current location</ion-label>
        </ion-item>
        <ion-searchbar *ngIf="!locationIsCkecked" class="background-transparent"  placeholder="Search a place" selected="true" [debounce]="300"
          maxResults="5" (ionInput)="search($event)" [value]="selectedAddress"></ion-searchbar>
          <div>
            <ion-list *ngIf="addresses.length > 0">
              <ion-item button detail="false" *ngFor="let address of addresses" (click)="onSelect(address)">
                <ion-label>
                  {{ address }}
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
      </ion-item>

      <!-- Image input -->

      <ion-item class="form-input">
        <ion-label position="stacked">Upload a picture</ion-label>
        <ion-button (click)="uploadPicture()">Take picture</ion-button>
        <img *ngIf="picture" [src]="picture.url" />
      </ion-item>

      <!-- Error message displayed if the image is invalid -->
      <!-- <ion-item lines="none" *ngIf="picture.invalid"> -->
      <!-- <ion-text color="danger">picture is not the right size or format</ion-text>
</ion-item> -->

      <!-- Description input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Description:</ion-label>
        <ion-input inputmode="text" required name="description" [(ngModel)]="newPost.description"></ion-input>
      </ion-item>

      <!-- Error message displayed if the description is invalid -->
      <!-- <ion-item lines="none" *ngIf="description.invalid && (description.touched || description.dirty)">
        <ion-text color="danger">Description is required.</ion-text>
      </ion-item> -->

      <!-- Visit date input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Visite date:</ion-label>
        <ion-datetime presentation="date" required name="Visit date" [(ngModel)]="newPost.visitDate"></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="createPostForm.invalid" class="prim-btn">Create
        post</ion-button>

      <!-- Error message displayed if the upload failed -->
      <ion-text color="danger" *ngIf="uploadError">Upload failed</ion-text>
    </div>
  </form>
</ion-content>