<app-header>
  <ion-buttons slot="start">
    <ion-button routerLink="/">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content class="ion-padding">
  <form #createPostForm="ngForm" (submit)="onSubmit(createPostForm)">
    <ion-list>

      <!-- public or private post -->
      <ion-item>
        <ion-label>Public post</ion-label>
        <ion-toggle [enableOnOffLabels]="true" checked="true" (ionChange)="isVisible()"></ion-toggle>
      </ion-item>

      <!-- Location input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Location:</ion-label>
        <ion-item *ngIf="!deniedGeoloc">
          <ion-checkbox slot="start" (ionChange)="onClick($event)"></ion-checkbox>
          <ion-label>Use current location</ion-label>
        </ion-item>
        <ion-searchbar *ngIf="!isGeolocated" class="background-transparent" placeholder="Search a place" selected="true"
          [debounce]="500" maxResults="5" (ionChange)="search($event)" [value]="selectedAddress.name"></ion-searchbar>
        <div>
          <ion-list *ngIf="addresses.length > 0">
            <ion-item button detail="false" *ngFor="let address of addresses" (click)="onSelect(address)">
              <ion-label>
                {{ address.name }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-item>

      <!-- Image input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Upload a picture</ion-label>
        <ion-button (click)="uploadPicture()">Take picture</ion-button>
        <img *ngIf="picture" [src]="picture.url" />
      </ion-item>

      <!-- Description input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Description:</ion-label>
        <ion-input inputmode="text" #description="ngModel" required name="description" [(ngModel)]="newPost.description"
          required></ion-input>
      </ion-item>

      <!-- Error message displayed if the description is invalid -->
      <ion-item lines="none" *ngIf="description.invalid && (description.touched || description.dirty)">
        <ion-text color="danger">Description is required.</ion-text>
      </ion-item>

      <!-- Visit date input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Visit date:</ion-label>
        <ion-datetime presentation="date" required name="visitDate" [(ngModel)]="newPost.visitDate" #visitDate="ngModel"
          required [value]="maxDate" [max]="maxDate" min="1950-01-01T00:00:00"></ion-datetime>
      </ion-item>

      <!-- Error message displayed if the visitDate is invalid -->
      <ion-item lines="none" *ngIf="description.invalid">
        <ion-text color="danger">visit date is required.</ion-text>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="createPostForm.invalid" class="prim-btn">Create
        post</ion-button>

      <!-- Error message displayed if the upload failed -->
      <ion-text color="danger" *ngIf="uploadError">Upload failed</ion-text>

      <!-- Error message displayed if the posting failed -->
      <ion-text color="danger" *ngIf="postPostError">Failed to post</ion-text>
    </div>
  </form>
</ion-content>