<ion-content>
  <ion-title class="ion-padding" color="tertiary">New post</ion-title>
  <form #createPostForm="ngForm" (submit)="onSubmit(createPostForm)">
    <ion-list>
      <ion-item class="form-input">
        <ion-label>Upload a picture</ion-label>
        <ion-button (click)="uploadPicture()">Take picture</ion-button>
        <img *ngIf="picture" [src]="picture.url" />
      </ion-item>

      <!-- Error message displayed if the image is invalid -->
<!-- <ion-item lines="none" *ngIf="picture.invalid"> -->
  <!-- <ion-text color="danger">picture is not the right size or format</ion-text>
</ion-item> -->

      <!-- Description input -->
      <ion-item class="form-input">
        <ion-label>Description:</ion-label>
        <ion-input inputmode="text" required name="description" [(ngModel)]="newPost.description"></ion-input>
      </ion-item>

      <!-- Visit date input -->
      <ion-item class="form-input">
        <ion-label>Visite date:</ion-label>
        <ion-datetime presentation="date" required name="Visit date" [(ngModel)]="newPost.visitDate"></ion-datetime>
      </ion-item>


      <!-- Error message displayed if the description is invalid -->
      <!-- <ion-item lines="none" *ngIf="description.invalid && (description.touched || description.dirty)">
        <ion-text color="danger">Description is required.</ion-text>
      </ion-item> -->
    </ion-list>
    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="createPostForm.invalid" class="prim-btn">Create
        post</ion-button>

      <!-- Error message displayed if the upload failed -->
      <ion-text color="danger" *ngIf="uploadError">Upload failed</ion-text>
    </div>
  </form>
</ion-content>