<ion-toolbar>
  <ng-content></ng-content>
  <!-- Logo -->
  <ion-title>
    <a href="/">
      <img src="../../../../assets/LOGO-ZENITH.png"> *ngIf="!showSearch">
    </a>
  </ion-title>

  <!-- Profile icon -->
  <ion-buttons slot="end">
    <ion-button>
      <a href="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </a>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>

  <ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.name }}
    </ion-item>
  </ion-list>
  </ion-content>