<ion-toolbar>
  <!-- Searchbar icon -->
  <ion-buttons slot="start">
    <ion-button (click)="showSearchBar()">
      <ion-icon name="search"></ion-icon>
    </ion-button>
    <ion-searchbar 
      [(ngModel)]="searchTerm"
      class="searchbar-input"
      *ngIf="showSearch" 
      (ionInput)="filterItems($event)"
      debounce="200" 
      show-clear-button="focus"
      placeholder="What are you looking for?">
    </ion-searchbar>
  </ion-buttons>

  <!-- Logo -->
  <ion-title>
    <a href="/">
      <img src="../../../../assets/LOGO-ZENITH.png" *ngIf="!showSearch">
    </a>
  </ion-title>

<!-- Profile icon -->
  <ion-buttons slot="end">
    <ion-button>
      <a href="/account">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </a>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
