<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="showSearchBar()">
      <ion-icon *ngIf="!showSearch" name="search"></ion-icon>
    </ion-button>
    <ion-searchbar *ngIf="showSearch" (ionInput)="filterItems($event)" debounce="200" placeholder="What are you looking for?"></ion-searchbar>
  </ion-buttons>

  <ion-title>
    <img src="../../../../assets/LOGO-ZENITH.png" >
  </ion-title>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
