<ion-header> 
  <ion-title class="ion-padding" color="tertiary">New post</ion-title>
  <ion-button>
    <a href="/">
      <ion-icon slot="icon-only" name="arrow-back-outline" color="tertiary"></ion-icon>
    </a>
  </ion-button>
</ion-header>

<ion-content class="ion-padding">
  <form #editPostForm="ngForm" (submit)="onSubmit(editPostForm)">
    <ion-list>

      <!-- Location input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Location:</ion-label>
        <ion-searchbar class="background-transparent" [showCancelButton]="false" selected="true"
          maxResults="5"></ion-searchbar>
      </ion-item>

      <!-- Image input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Upload a picture</ion-label>
        <ion-button (click)="uploadPicture()">Take picture</ion-button>
        <img *ngIf="picture; else elseBlock" [src]="picture.url"/>
        <ng-template #elseBlock><img [src]="modifiedPost.picture.url"/></ng-template>
      </ion-item>

      <!-- Error message displayed if the image is invalid -->
      <!-- <ion-item lines="none" *ngIf="picture.invalid"> -->
      <!-- <ion-text color="danger">picture is not the right size or format</ion-text>
</ion-item> -->

      <!-- Description input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Description:</ion-label>
        <ion-input inputmode="text" name="description" value="{{modifiedPost.description}}" [(ngModel)]="modifiedPost.description"></ion-input>
      </ion-item>

      <!-- Error message displayed if the description is invalid -->
      <!-- <ion-item lines="none" *ngIf="description.invalid && (description.touched || description.dirty)">
        <ion-text color="danger">Description is required.</ion-text>
      </ion-item> -->

      <!-- Visit date input -->
      <ion-item class="form-input">
        <ion-label position="stacked">Visite date:</ion-label>
        <ion-datetime presentation="date" required name="Visit date" value="{{modifiedPost.visitDate}}" [(ngModel)]="modifiedPost.visitDate"></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">

      <!-- Submit button -->
      <ion-button type="submit" expand="block" [disabled]="editPostForm.invalid" class="prim-btn">Edit post</ion-button>
      <!-- Error message displayed if the upload failed -->
      <ion-text color="danger" *ngIf="uploadError">Upload failed</ion-text>
    </div>
  </form>
</ion-content>