<ion-modal #modal [isOpen]="true" [initialBreakpoint]="0.1" [breakpoints]="[0.1, 0.9]" [backdropBreakpoint]="1"
  [backdropDismiss]="false" handleBehavior="none">
  <ng-template>
    <ion-content>
      <div>
        <ion-button id="mapBtn" (click)="modal.setCurrentBreakpoint(0.1)">Map</ion-button>
        <ion-button color="secondary">
          <a href="/create-post">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </a>
        </ion-button>
        <ion-item>
          <ion-checkbox slot="start" (ionChange)="onClick($event)"></ion-checkbox>
          <ion-label>Only see my posts</ion-label>
        </ion-item>
      </div>
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </ion-content>
  </ng-template>
</ion-modal>