/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button.prim-btn {
    --background: var(--ion-color-secondary);
}

ion-item.form-input {
    --border-color: var(--ion-color-tertiary);
    --highlight-color-valid: var(--ion-color-tertiary);
    --highlight-color-invalid: var(--ion-color-tertiary);
    --highlight-color-focused: var(--ion-color-tertiary);
}

.modal {
    --border-radius: 5rem;
}

ion-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  }

/* Searchbar CSS */
.searchbar-input.sc-ion-searchbar-md {
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    font-size: 1.1rem;
    color: var(--ion-color-tertiary);
    background-color: none;
    box-shadow: none !important;
    outline: none;
    border-bottom: 1px solid var(--ion-color-tertiary);
}
    
.searchbar-search-icon { 
    display: none;
    visibility: hidden;
    width:0; 
    height:0; 
}